body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');